@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.navbar {
    position:fixed;
    top:10;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
}
.logo {
    font-family: 'Black Ops One';
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 300
}
.blue {
    color: #1a42e4
}
.logo-container {
    display: flex; 
}

.nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    justify-content: space-between;
    font-size: 1.5rem;
    text-transform: uppercase;
    color:aliceblue
}