@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(5, 10, 26);
    height: var(--navbar-height);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}
.logo {
    font-family: 'Black Ops One';
    font-size: 2rem;
    font-weight: 300;
    margin-top: 15px;
}
.blue {
    color: #1a42e4
}
.logo-container {
    display: flex; 
}

.nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    justify-content: space-between;
    font-size: 1.5rem;
    text-transform: uppercase;
    color:aliceblue
}