.sign-in-button {
      display: flex;
  align-items: center;
  justify-content: center;
  color: #202020;
  background-color: #1A73E8;
  border-radius: 15px;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.15s ease;
  white-space: nowrap;
  min-width: 190px;
  box-sizing: border-box;
  line-height: 1.9; 
  margin: 10px;
  gap: 10px;

}